/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

.cdk-overlay-container {
  width: 50vw;
  height: 100vh;
  margin: 0 auto;
}